*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /* aquí abajo lo que se está cogiendo es un valor relativo que en este caso es 20 pixeles
    porque rem hace referencia al tamaño de la fuente raiz que son 16 pixeles más 1/4 hacen 20 */
    font-size: 1,25rem;
   
    
}
/* He usado dos capturas de una textura de un tablero de ajedrez para que tuviera el aspecto actual.
Y cada textura la he usado en las casillas correspondientes insertándolas dentro de los td de cada fila */
td.blanco{
background-image: url(fondo/vainilla.png);
width: 100px;
height: 100px;
}

td.negro{
  background-image: url(fondo/marron.png);
    width: 100px;
    height: 100px;
}

table{
    border-style: solid;
    border-width: 1px;
}

th{
    background-color: firebrick;
    color: white;
}

.columna{
    height: 110px;
    width: 30px;
}

.fila{
    height: 30px;
    width: 120px;
}

#esquina{
    height: 50px;
    width: 50px;
}



