header {
    padding: 50px;
    text-align: center;
    color: rgba(12, 220, 64, 0.956);
    font-size: 15px;
}

nav {
    overflow: hidden;
  
}
  
nav a {
    float: left;
    display: block;
    color: red;
    font-size: 30px;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    }

    #video_background {
        position: fixed;
        bottom: 0px;
        right: 0px;
        min-width: 100%;
        min-height: 100%;
        width: auto;
        height: auto;
        z-index: -1000;
     
    }

    body{
        margin: auto;
        background-image: url(imagenes/nevada.gif);
        background-repeat: no-repeat;
        background-size: cover;

    }

    .contenedor{
        margin: auto;
        height: 1000px;
        width: 1000px;
        display: grid;
        grid-template-columns: auto auto auto auto auto auto auto auto auto auto;
        grid-template-rows: 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px;
        border: 1px solid rgba(0, 0, 0, 0.8);

    }

    .casilla1{
     background-image: url(fondo/marron.png);
    }
    .casilla2{
     background-image: url(fondo/vainilla.png);
     font-size: 100px;
     text-align: center;
     
    }
    .casilla3{
     background-image: url(fondo/marron.png);
     font-size: 100px;
     text-align: center;
    }
    .casilla4{
     background-image: url(fondo/vainilla.png);
     font-size: 100px;
     text-align: center;
    }
    .casilla5{
     background-image: url(fondo/marron.png);
     font-size: 100px;
     text-align: center;
    }
    .casilla6{
     background-image: url(fondo/vainilla.png);
     font-size: 100px;
     text-align: center;
    }
    .casilla7{
     background-image: url(fondo/marron.png);
     font-size: 100px;
     text-align: center;
    }
    .casilla8{
     background-image: url(fondo/vainilla.png);
     font-size: 100px;
     text-align: center;
    }
    .casilla9{
     background-image: url(fondo/marron.png);
     font-size: 100px;
     text-align: center;
    }
    .casilla10{
     background-image: url(fondo/vainilla.png);
    }
    .casilla11{
     background-image: url(fondo/vainilla.png);
     font-size: 100px;
     text-align: center;
    }
    .casilla12{
     background-image: url(fondo/marron.png);
    }
    .casilla13{
     background-image: url(fondo/vainilla.png);
    }
    .casilla14{
     background-image: url(fondo/marron.png);
    }
    .casilla15{
     background-image: url(fondo/vainilla.png);
    }
    .casilla16{
     background-image: url(fondo/marron.png);
    }
    .casilla17{
     background-image: url(fondo/vainilla.png);
    }
    .casilla18{
     background-image: url(fondo/marron.png);
    }
    .casilla19{
     background-image: url(fondo/vainilla.png);
    }
    .casilla20{
     background-image: url(fondo/marron.png);
     font-size: 100px;
     text-align: center;
    }
    .casilla21{
     background-image: url(fondo/marron.png);
     font-size: 100px;
     text-align: center;
    }
    .casilla22{
     background-image: url(fondo/vainilla.png);
    }
    .casilla23{
     background-image: url(fondo/marron.png);
    }
    .casilla24{
     background-image: url(fondo/vainilla.png);
    }
    .casilla25{
     background-image: url(fondo/marron.png);
    }
    .casilla26{
     background-image: url(fondo/vainilla.png);
    }
    .casilla27{
     background-image: url(fondo/marron.png);
    }
    .casilla28{
     background-image: url(fondo/vainilla.png);
    }
    .casilla29{
     background-image: url(fondo/marron.png);
    }
    .casilla30{
     background-image: url(fondo/vainilla.png);
     font-size: 100px;
     text-align: center;
    }
    .casilla31{
     background-image: url(fondo/vainilla.png);
     font-size: 100px;
     text-align: center;
    }
    .casilla32{
     background-image: url(fondo/marron.png);
    }
    .casilla33{
     background-image: url(fondo/vainilla.png);
    }
    .casilla34{
     background-image: url(fondo/marron.png);
    }
    .casilla35{
     background-image: url(fondo/vainilla.png);
    }
    .casilla36{
     background-image: url(fondo/marron.png);
    }
    .casilla37{
     background-image: url(fondo/vainilla.png);
    }
    .casilla38{
     background-image: url(fondo/marron.png);
    }
    .casilla39{
     background-image: url(fondo/vainilla.png);
    }
    .casilla40{
     background-image: url(fondo/marron.png);
     font-size: 100px;
     text-align: center;
    }
    .casilla41{
        background-image: url(fondo/marron.png);
        font-size: 100px;
        text-align: center;
    }
    .casilla42{
    background-image: url(fondo/vainilla.png);
    }
    .casilla43{
    background-image: url(fondo/marron.png);
    }
    .casilla44{
    background-image: url(fondo/vainilla.png);
    }
    .casilla45{
    background-image: url(fondo/marron.png);
    }
    .casilla46{
    background-image: url(fondo/vainilla.png);
    }
    .casilla47{
    background-image: url(fondo/marron.png);
    }
    .casilla48{
    background-image: url(fondo/vainilla.png);
    }
    .casilla49{
    background-image: url(fondo/marron.png);
    }
    .casilla50{
    background-image: url(fondo/vainilla.png);
    font-size: 100px;
     text-align: center;
    }
    .casilla51{
        background-image: url(fondo/vainilla.png);
        font-size: 100px;
        text-align: center;
    }
    .casilla52{
    background-image: url(fondo/marron.png);
    }
    .casilla53{
    background-image: url(fondo/vainilla.png);
    }
    .casilla54{
    background-image: url(fondo/marron.png);
    }
    .casilla55{
    background-image: url(fondo/vainilla.png);
    }
    .casilla56{
    background-image: url(fondo/marron.png);
    }
    .casilla57{
    background-image: url(fondo/vainilla.png);
    }
    .casilla58{
    background-image: url(fondo/marron.png);
    }
    .casilla59{
    background-image: url(fondo/vainilla.png);
    }
    .casilla60{
    background-image: url(fondo/marron.png);
    font-size: 100px;
     text-align: center;
    }
    .casilla61{
    background-image: url(fondo/marron.png);
    font-size: 100px;
    text-align: center;
    }
    .casilla62{
    background-image: url(fondo/vainilla.png);
    }
    .casilla63{
    background-image: url(fondo/marron.png);
    }
    .casilla64{
    background-image: url(fondo/vainilla.png);
    }
    .casilla65{
    background-image: url(fondo/marron.png);
    }
    .casilla66{
    background-image: url(fondo/vainilla.png);
    }
    .casilla67{
    background-image: url(fondo/marron.png);
    }
    .casilla68{
    background-image: url(fondo/vainilla.png);
    }
    .casilla69{
    background-image: url(fondo/marron.png);
    }
    .casilla70{
    background-image: url(fondo/vainilla.png);
    font-size: 100px;
     text-align: center;
    }
    .casilla71{
    background-image: url(fondo/vainilla.png);
    font-size: 100px;
    text-align: center;
    }
    .casilla72{
    background-image: url(fondo/marron.png);
    }
    .casilla73{
    background-image: url(fondo/vainilla.png);
    }
    .casilla74{
    background-image: url(fondo/marron.png);
    }
    .casilla75{
    background-image: url(fondo/vainilla.png);
    }
    .casilla76{
    background-image: url(fondo/marron.png);
    }
    .casilla77{
    background-image: url(fondo/vainilla.png);
    }
    .casilla78{
    background-image: url(fondo/marron.png);
    }
    .casilla79{
    background-image: url(fondo/vainilla.png);
    }
    .casilla80{
    background-image: url(fondo/marron.png);
    font-size: 100px;
     text-align: center;
    }
    .casilla81{
        background-image: url(fondo/marron.png);
        font-size: 100px;
        text-align: center;
        
    }
    .casilla82{
    background-image: url(fondo/vainilla.png);
    }
    .casilla83{
    background-image: url(fondo/marron.png);
    }
    .casilla84{
    background-image: url(fondo/vainilla.png);
    }
    .casilla85{
    background-image: url(fondo/marron.png);
    }
    .casilla86{
    background-image: url(fondo/vainilla.png);
    }
    .casilla87{
    background-image: url(fondo/marron.png);
    }
    .casilla88{
    background-image: url(fondo/vainilla.png);
    }
    .casilla89{
    background-image: url(fondo/marron.png);
    }
    .casilla90{
    background-image: url(fondo/vainilla.png);
    font-size: 100px;
    text-align: center;
    }
    .casilla91{
        background-image: url(fondo/vainilla.png);
    }
    .casilla92{
    background-image: url(fondo/marron.png);
    font-size: 100px;
     text-align: center;
    }
    .casilla93{
    background-image: url(fondo/vainilla.png);
    font-size: 100px;
     text-align: center;
    }
    .casilla94{
    background-image: url(fondo/marron.png);
    font-size: 100px;
     text-align: center;
    }
    .casilla95{
    background-image: url(fondo/vainilla.png);
    font-size: 100px;
     text-align: center;
    }
    .casilla96{
    background-image: url(fondo/marron.png);
    font-size: 100px;
     text-align: center;
    }
    .casilla97{
    background-image: url(fondo/vainilla.png);
    font-size: 100px;
     text-align: center;
    }
    .casilla98{
    background-image: url(fondo/marron.png);
    font-size: 100px;
     text-align: center;
    }
    .casilla99{
    background-image: url(fondo/vainilla.png);
    font-size: 100px;
     text-align: center;
    }
    .casilla100{
    background-image: url(fondo/marron.png);
    }