*{
    height: 100%;
}

div.azul{

    background-color: blue;
    width: 50%;
    height: 50%;
    float: left;
}
div.rojo{

    background-color: rgb(255, 0, 0);
    width: 50%;
    height: 50%;
    float: right;
}
div.verde{

    background-color: rgb(0, 255, 76);
    width: 50%;
    height: 50%;
    clear: both;
    float: left;
}
div.amarillo{

    background-color: rgb(238, 255, 0);
    width: 50%;
    height: 50%;
    float: right;
}